<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Soure+Sans+Pro:400">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
      <h1>
        <a href="{% url 'home' %}">Django Blog</a>
      </h1>
    </header>

    <div class="">
      {% block content %}

      {% endblock content %}
    </div>

  </body>
</html>
